<h3>
  <span class="far fa-edit"></span> Edit
</h3>
 <h6>{{viewData.title}} written by {{viewData.author}}</h6>
<form method="post" action="./{{viewData.id}}/update">
 <!--edit title ?-->
  
  <input type="text" 
  class="form-control mt-3 mb-3" 
  name="title" 
  value="{{viewData.title}}"
  autofocus="autofocus"/>

  <div class="form-group">
    <textarea type="text" 
    class="form-control" 
    name="description" 
    placeholder="Update snippethere" 
    required="required" 
    autofocus="autofocus"
    cols="100" 
    rows="5">
    {{viewData.description}}
    </textarea>
  
  <br>
  <button type="submit" class="btn btn-lg btn-primary">Update Snippet</button>
</form>
