
  <h4 class="d-flex justify-content-center">Welcome to Snippets, where you can save your snippets for free!</h4>

  <div class="list-group mt-6 mb-6">
  <ul>
    {{#each data }}
    <h6>{{title}} by {{id}}</h6>
    <li class="list-group-item">{{snippet}}</li>
    {{/each}}
  </ul>

   <ul class="list-group">
    {{#each viewData}}
    <h6>{{title}} by {{_id}}</h6>
    <li class="list-group-item">{{description}}</li>
    {{/each}}
  </ul>

    <tr colspan="2">
      <td class="text-center">No snippets to display.</td>
    </tr>
  </div>
